*{ padding: 0; margin: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}

body{
    overflow: hidden;
}

.nav{
    margin: 0 auto;
    padding: .8em;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 50%;

    .nav__list{
        display: flex;
        align-self: center;
        max-width: 900px;
    
        .nav__item{
            text-decoration: none;
            list-style: none;
            
            button{
                padding: 0 .5em 0 .5em;
                background: none;
                border: none;
                font-size: 1.3rem;
                cursor: pointer;

                a{
                    text-decoration: none;
                    color: none;

                    &:hover{
                        color: rgb(113, 52, 211);
                    }
                }
                
            }

        }
    }
}

.background__flipper{
    height: 100vh;
    background-color: rgb(113, 52, 211);
    .container{
        display: flex;
        flex-direction: column;
        h1{
            background-color: black;
            color: white;
            max-width: 50%;
            padding: 1em;
            margin: 25% auto 0 auto;
            text-align: center;
            font-size: 2rem;
            border: 1px dashed rgb(201, 201, 201);
            border-radius: 10px;
            transition: .5s;

            &:hover{
                opacity: 0.80;
            }
        }
    
        span{
            color: rgb(41, 195, 241);
            
        }

        .change__color{
            margin: 1em auto;
            font-size: 1.5rem;
            color: black;
            background: transparent;
            border: 3px solid black;
            padding: .5em;
            width: 20%;
            border-radius: 10px;
            transition: .6s;
            cursor: pointer;
            &:hover{
                color: white;
                background-color: black;
            }
        }
    }
    
}

@media (max-width: 500px){
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            margin-bottom: .5em;
        }
    }

    .background__flipper{

        .container{
            h1{
                max-width: 100%;
            }

            .change__color{
                width: 30%;
            }
        }
    }

    
}